.contentBlock {
    clear: both;
    position: relative;
    top: 30vh;
}

.textContainer {
    max-width: 40vw;
    text-align: right;
    float: left;
    margin: 2.5vw;
}

.mediaContainer {
    width: 40vw;
    height: 30vh;
    float: right;
    margin: 2.5vw;
}

video {
  width: 100vw;
  position: absolute;
  left:0;
  opacity: 0.5;
}

.image-left{
  float: left;
  width: 30vw;
  margin-left:2.5vw;
  margin-right: 2.5vw;
}

.image-right{
  float: right;
  width: 30vw;
  margin-left:2.5vw;
  margin-right: 2.5vw;
}

.textContainer-right{
    text-align: left;

}

.textContainer-left {
    text-align: left;
    margin-left: 2.5vw;
}

.container-paypal{
  margin-top: 10vh;
}

.clear-left{
 clear: left;
}


