section {
  h2 {
    margin-top: 20px;
  }
  iframe {
    max-height: 70vh;
  }
}
.contentBlock {
    clear: both;
    position: relative;
    top: 20vh;

    .scrollable {
      overflow-y: none;
      height: 80vh;
    }
    h2 {
      position: relative;
      top: -50px;
      text-align: left;
      margin-left: 30px;
    }
    h3 {
      text-align: left;
    }

}

.textContainer {
    max-width: 40vw;
    text-align: right;
    float: left;
    margin: 2.5vw;
}

.mediaContainer {
    width: 40vw;
    height: 30vh;
    float: right;
    margin: 2.5vw;
}

video {
  width: 100vw;
  z-index: -100;
  position: absolute;
  left:0;
  bottom: 0;
  top: -5vh;
  opacity: .5;
}

.image-left{
  float: left;
  width: 30vw;
  margin-left:2.5vw;
  margin-right: 2.5vw;
}

.image-right{
  float: right;
  width: 30vw;
  margin-left:2.5vw;
  margin-right: 2.5vw;
}

.textContainer-right{
    text-align: left;
    margin-right: 2.5vw;
    p {
      text-align: left;
    }
    h3{
      font-size: 20px;
    }

}

.textContainer-left {
    text-align: left;
    margin-left: 2.5vw;

    p {
      text-align: left;
    }
}

.container-paypal{
  margin-top: 8vh;
  height: 200px;
}

.clear-left{
 clear: left;
}

.logo{
  background-color: white;
  padding: 20px;
  position: relative;
  top: -4vh;
}
