<section id='landing' class='wholePage'>
  <div id='title'>
    <h1>ELON MUSK
      <!--TODO: Animation auf 'Elon Musk'-->
    </h1>
    <h2>Pionier unserer Zeit</h2>
  </div>
  <div class='quote fade-element-in' ng-if='vm.Comments[0]' id='quote1'>'Great Companies are built on great products.'</div>
  <div class='quote fade-element-in' ng-if='vm.Comments[1]' id='quote2'>'When something is important enough, you do it even if the odds are not in your favor.'</div>
  <div class='quote fade-element-in' ng-if='vm.Comments[2]' id='quote3'>'Failure is an option here. If things are not failing, you are not innovating enough.'</div>
  <div class='quote fade-element-in' ng-if='vm.Comments[3]' id='quote4'> 'Some people don't like change, but you need to embrace change if the alternative is disaster.'</div>
  <div class='quote fade-element-in' ng-if='vm.Comments[4]' id='quote5'>'It's OK to have your eggs in one basket as long as you control what happens to that basket.'</div>
  <div class='quote fade-element-in' ng-if='vm.Comments[5]' id='quote6'>'If you're co-founder or CEO, you have to do all kinds of tasks you might not want to do... If you don't do your chores,
    the company won't succeed... No task is too menial.'</div>
  <div class='quote fade-element-in' ng-if='vm.Comments[6]' id='quote7'>'I don't create companies for the sake of creating companies, but to get things done.'</div>
  <div class='quote fade-element-in' ng-if='vm.Comments[7]' id='quote8'>'Talent is extremely important. It's like a sports team, the team that has the best individual player will often win, but
    then there's a multiplier from how those players work together and the strategy they employ.'</div>
  <div class='quote fade-element-in' ng-if='vm.Comments[8]' id='quote9'>'What makes innovative thinking happen?... I think it's really a mindset. You have to decide.'</div>
</section>
