$animationTime: 0.5s;
$stickmanColor: #eeeeee;
$bodyPartyWidth: 0.25em;

.stickman {
    height: 5em;
    width: 5em;
    position: absolute;
    top: 87%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: $animationTime walk-body infinite;

    .head {
      height: 4em;
      width: 4em;
      position: absolute;
      top: -0.7em;
      left: 22.6%;
      z-index: 5;

      img {
        -moz-transform: scaleX(-1) translate(20%,0);
        -o-transform: scaleX(-1) translate(20%,0);
        -webkit-transform: scaleX(-1) translate(20%,0);
        transform: scaleX(-1) translate(20%,0);
      }

      .flipped {
        -moz-transform: scaleX(1) translate(0,0);
        -o-transform: scaleX(1) translate(0,0);
        -webkit-transform: scaleX(1) translate(0,0);
        transform: scaleX(1) translate(0,0);
        filter: FlipH;
        -ms-filter: "FlipH";
      }
    }

    .body {
        height: 3em;
        width: $bodyPartyWidth;
        position: absolute;
        top: 5em;
        left: 50%;
        margin-left: -0.3125em;
        background-color: $stickmanColor;
        border-radius: 25%;

        .arm {
          height: 2em;
          width: $bodyPartyWidth;
          position: absolute;
          top: 0;
          transform: rotate(-45deg);
          transform-origin: top;
          background-color: $stickmanColor;
          animation: $animationTime walk-arm infinite;
          border-radius: 25%;
        }
        .arm#left {
            animation-delay: $animationTime/2;
            background-color: $stickmanColor;
        }
        .leg {
          height: 2em;
          width: $bodyPartyWidth;
          position: absolute;
          bottom: -2em;
          transform: rotate(-90deg);
          transform-origin: top;
          background-color: $stickmanColor;
          animation: $animationTime walk-leg infinite;
          border-radius: 25%;
        }
        .leg#right {
          background-color: $stickmanColor;
          animation-delay: $animationTime/2;
        }
    }
}

.stickman, .stickman .body .arm, .stickman .body .leg{
  -webkit-animation-play-state:paused;
  -moz-animation-play-state:paused;
  -o-animation-play-state:paused;
  animation-play-state:paused;
}
.walking {
    -webkit-animation-play-state:running !important;
    -moz-animation-play-state:running !important;
    -o-animation-play-state:running !important;
    animation-play-state:running !important;
}

.wobble {
-webkit-animation: wobble 0.5s infinite;
animation: wobble 0.5s infinite;
transform-origin: 50% 100%;
}

@keyframes walk-body {
    0% {
        margin-top: -10.25em;
        padding-bottom: 1.25em;
    }
    50% {
        margin-top: -10em;
        padding-bottom: 0;
    }
    100% {
        margin-top: -10.25em;
        padding-bottom: 1.25em;
    }
}
@keyframes walk-arm {
    0% {
        transform: rotate(-45deg);
    }
    50% {
        transform: rotate(45deg);
    }
    100% {
        transform: rotate(-45deg);
    }
}
@keyframes walk-arm-after {
    0% {
        transform: rotate(67.5deg);
    }
    50% {
        transform: rotate(90deg);
    }
    100% {
        transform: rotate(67.5deg);
    }
}
@keyframes walk-leg {
    0% {
        transform: rotate(-50deg);
    }
    50% {
        transform: rotate(25deg);
    }
    100% {
        transform: rotate(-50deg);
    }
}
@keyframes walk-leg-after {
    0% {
        transform: rotate(85deg);
    }
    25% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(25deg);
    }
    100% {
        transform: rotate(85deg);
    }
}
$wobble_degrees : 5deg;

@-webkit-keyframes wobble {
0% { -webkit-transform: rotate($wobble_degrees); }
50% { -webkit-transform: rotate(-1*$wobble_degrees); }
100% { -webkit-transform: rotate($wobble_degrees); }
}
 @keyframes wobble {
0% { transform: rotate($wobble_degrees); }
50% { transform: rotate(-1*$wobble_degrees); }
100% { transform: rotate($wobble_degrees); }
}
