<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <title>Elon Musk</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/png" href="assets/favicon.ico" />

  <!-- build:css({.tmp,src}) styles/vendor.css -->
  <!-- bower:css -->
  <!-- run `gulp inject` to automatically populate bower styles dependencies -->
  <!-- endbower -->
  <!-- endbuild -->
  <!-- build:css({.tmp,src}) styles/app.css -->
  <link rel="stylesheet" href="index.css" />
  <!-- endbuild -->
</head>

<body ng-app="myapp" ng-controller="MyAppController as vm" ng-keydown="vm.Move($event)" ng-keyup="vm.EndMove($event)">

  <main id="main">

    <nav>
      <ul>
        <li><a href="#landing">landing</a></li>
        <li><a href="#timeline">timeline</a></li>
        <li><a href="#closing">closing</a></li>
      </ul>
    </nav>

    <div class='stickman' id="stickman">
      <div class='head wobble'>
        <img ng-class='{flipped: vm.StickmanIsFlipped}' src="assets/images/portraits/bobblehead.png">
      </div>
      <div class='body'>
        <div class='arm' ng-class="{'walking': vm.IsMoving}" id='left'></div>
        <div class='arm' ng-class="{'walking': vm.IsMoving}" id='right'></div>
        <div class='leg' ng-class="{'walking': vm.IsMoving}" id='left'></div>
        <div class='leg' ng-class="{'walking': vm.IsMoving}" id='right'></div>
      </div>
    </div>

    <section id="landing" class="wholePage">
      <div id="title">
        <h1>ELON MUSK</h1>
        <h2>Pionier unserer Zeit</h2>
      </div>
      <div class="quote fade-element-in" ng-if="vm.Comments[0]" id="quote1">"Great Companies are built on great products."</div>
      <div class="quote fade-element-in" ng-if="vm.Comments[1]" id="quote2">"When something is important enough, you do it even if the odds are not in your favor."</div>
      <div class="quote fade-element-in" ng-if="vm.Comments[2]" id="quote3">"Failure is an option here. If things are not failing, you are not innovating enough."</div>
      <div class="quote fade-element-in" ng-if="vm.Comments[3]" id="quote4"> "Some people don't like change, but you need to embrace change if the alternative is disaster."</div>
      <div class="quote fade-element-in" ng-if="vm.Comments[4]" id="quote5">"It's OK to have your eggs in one basket as long as you control what happens to that basket."</div>
      <div class="quote fade-element-in" ng-if="vm.Comments[5]" id="quote6">"If you're co-founder or CEO, you have to do all kinds of tasks you might not want to do... If you don't do your chores,
        the company won't succeed... No task is too menial."</div>
      <div class="quote fade-element-in" ng-if="vm.Comments[6]" id="quote7">"I don't create companies for the sake of creating companies, but to get things done."</div>
      <div class="quote fade-element-in" ng-if="vm.Comments[7]" id="quote8">"Talent is extremely important. It's like a sports team, the team that has the best individual player will often win,
        but then there's a multiplier from how those players work together and the strategy they employ."</div>
      <div class="quote fade-element-in" ng-if="vm.Comments[8]" id="quote9">"What makes innovative thinking happen?... I think it's really a mindset. You have to decide."</div>
    </section>

    <section id="timeline" class="wholePage">

      <div id="timeline-container" class="timeline-container">
        <div ng-repeat="div in vm.contentDivs track by $index" ng-click="vm.ShowDiv($index)" ng-class="vm.DivPosition[$index]">
          <span id="timelinePoint{{$index}}" class="timeline-circles" ng-class="vm.contentDivsClass[$index]"></span>
          <span class="timeline-not-reached-connector" ng-class="vm.contentDivsConnector[$index]" ng-if="!$last"></span>
        </div>
      </div>

      <div class="contentBlock" ng-if="vm.contentDivs[0]">
        <div class="scrollable">
          <img class="image-left" src="assets/images/2_Zip2/Zip2.png" style="position: relative; top: -1vh;">
          <div class="textContainer-right">
            <p>Zip2 war ein Unternehmen, das in erster Linie eine Online-Stadtführer-Software für Zeitungen zur Verfügung stellte
              und lizenzierte. Elon Musk, sein Brunder Kimbal und Greg Kouri gründeten Zip2 mit dem Geld ihrer Eltern.
            </p>
            <p> 1996 erhielt Zip2 3 Millionen US-Dollar an Investitionen. Elon wurde zum Chief Technology Officer ernannt.</p>
            <p> 1999 wurde Zip2 von Compaq für 307 Millionen verkauft, wovon 22 Millionen an Elon gingen.</p>
          </div>
        </div>
      </div>

      <div class="contentBlock" ng-if="vm.contentDivs[1]">
        <div class="scrollable">
          <div>
            <img class="image-left" src="assets/images/3_PayPal/paypal_logo.png" style="position: relative; top: -2vh;">
            <div class="textContainer-right" style="text-align:center; margin-top:2vh;">
              <h3 style="text-align:center; ">
                Mit PayPal können Sie einkaufen, Geld senden und anfordern und vieles mehr. Und das mit nur einem Konto
              </h3>
            </div>
          </div>

          <div class="container container-paypal">
            <div class="row clear-left">
              <div class="col">
                <img src="assets/images/3_PayPal/1_register.png">
                <p> 1. Konto eröffnen</p>
              </div>
              <div class="col">
                <img src="assets/images/3_PayPal/2_deposit_info.png">
                <p> 2. Bankonto oder Kreditkarte verknüpfen</p>
              </div>
              <div class="col">
                <img src="assets/images/3_PayPal/3_buy.png">
                <p> 3. nur noch mit E-Mail & Passwort einkaufen</p>
              </div>
            </div>
          </div>

          <div style="margin-top: 5vh;">
            <img class="image-right" src="assets/images/1_Persönlich/elon-musk1.jpeg" style="width:20vw;">
            <div class="textContainer-left">
              <p>1999 gründete Elon das Unternehmen X.com, das ein Online-Bezahlsystem via E-Mail entwickelte.</p>
              <p>Schon 2000 fusionierte X.com mit dem Konkurenten Confinity. Daraus entstand PayPal, das wichtigste Online-Bezahlsystem
                weltweit.
              </p>
              <p>Es erzielte einen Verkaufserlös von 1,5 Milliarden US-Dollar, als es 2002 an E-Bay verkauft wurde.</p>
              <p>Mus hielt zu diesem Zeitpunkt noch 11,7% der Firmenanteile und somit der größte Anteilseigner</p>
              </p>
            </div>
          </div>
        </div>
        <video src="assets/videos/3_paypal_Intro.mp4" autoplay muted loop></video>
      </div>

      <div class="contentBlock" ng-if="vm.contentDivs[2]">
        <div class="scrollable">
          <div>
            <img class="image-left" src="assets/images/5_SpaceX/logo.png" style="position: relative; top: -4vh;" >
            <div class="textContainer-right" style="text-align:center; margin-top:4vh;">
              <h3 style="text-align:center;">
                SpaceX entwirft, produziert und startet fortgeschrittene Raketen und Raumfahrzeuge.
              </h3>
            </div>
          </div>
          <div style="margin-top: 5vh;">
            <img class="image-right" src="assets/images/5_SpaceX/launch.jpg" style="position: relative; width: 50vw; top: -5vh;">
            <div class="textContainer-left" style="text-align:center; margin-top:10vh;">
              <p>Das Unternehmen wurde 2002 von Elon Musk gegründet um die Raufahrttechnik zu revolutionieren und Menschen das Leben auf anderen
                Planeten zu ermöglichen</p>
              <p>Seit 2008 ist SpaceX für die Versorgungsflüge zu ISS beauftragt.</p>
              <p>Damit hat Elon Musk die erste Firma, der es gelang mit einer vollständig privat finanzierten Raketee den Orbit
                zu erreichen, gegründet.</p>
            </div>
          </div>

        </div>
        <video src="assets/videos/5_this_is_spaceX.mp4" autoplay muted loop></video>
      </div>

      <div class="contentBlock" ng-if="vm.contentDivs[3]">
        <div class="scrollable">
          <div>
            <img class="image-left" src="assets/images/4_Tesla/Logo_Tesla_Motors.svg.png" style="position: relative; top: -2vh;">
            <div class="textContainer-right" style="text-align:center; margin-top:2vh;">
              <h3 style="text-align:center;">
                Tesla entwirft und produziert verschiedene Elektroautos die den Übergang zu einem nachhaltigen Transportwesen beschleunigen
                sollen
              </h3>
            </div>
          </div>
          <div style="margin-top: 10vh;">
            <img class="image-right" src="assets/images/4_Tesla/Models/model-s-red@2x-png8.png" style="width:35vw;">
            <div class="textContainer-left" style="text-align:center">
              <p>Um dieses Ziel zu erreichen sollen so schnell wie möglich Elektroautos für ein breites Publikum gebaut werden</p>
              <p>Tesla ist derzeit der einzige Fahrzeughersteller, der einen emmissionsfreien Seriensportwagen in größeren Stückzahlen
                verkauft hat</p>
            </div>
          </div>
          <div style="margin-top: 15vh; clear: both">
            <img class="image-left" src="assets/images/4_Tesla/Elon-Musk.jpg"style="width:25vw; position: relative; top: -10vh;">
            <div class="textContainer-right">
              <p>Elon investierte bereits im Frühjahr 2004 in Tesla. Er ist CEO und Product Architect des Unternehmens</p>
              <p>Mitte 2104 gab die Firma unter ihm alle Patente frei, um die E-Auto Entwicklung anzutreiben.</p>
            </div>
          </div>

          <video src="assets/videos/4_tesla2.m4v" autoplay muted loop></video>
        </div>

        <div class="contentBlock" ng-if="vm.contentDivs[4]">
          <h2>2013: Hyperloop</h2>
          <p class="textContainer">SMusk stellt Hyperloop vor, dabei handelt es sich um ein Projekt für Personen- und Güterverkehr. In einer Röhre,
            in der Vakuum herrscht wird eine Kapsel auf ca. 1200km/h beschleunigt. Somit können Langstrecken schneller als
            mit dem Flugzeug oder dem Zug zurückgelegt werden.</p>
          <div class="mediaContainer">
            <div ng-carousel ng-carousel-name="HyperloopCarousel" ng-carousel-timer="5000">
              <slidecontainer class="carousel-slides">
                <slide ng-repeat="image in vm.imagesHyperloop">
                  <img ng-src="{{image.image}}" style="margin:auto;">
                </slide>
              </slidecontainer>
            </div>
          </div>
        </div>
      </div>

      <div class="contentBlock" ng-if="vm.contentDivs[5]">
        <h2>2017: The Boring Company</h2>
        <div class="scrollable">
          <p class="textContainer">The Boring Company soll ein Unternehmen werden, dass den Verkehr in Großstädten regelt. Dazu wolle er eine Tunnelbohrmaschine
            bauen.
          </p>
          <div class="mediaContainer">
            <div ng-carousel ng-carousel-name="BoringCarousel" ng-carousel-timer="5000">
              <slidecontainer class="carousel-slides">
                <slide ng-repeat="image in vm.imagesTheboringcompany">
                  <img ng-src="{{image.image}}" style="margin:auto;">
                </slide>
              </slidecontainer>
            </div>
          </div>
        </div>
      </div>

    </section>

    <section id="closing" class="wholePage">
      <h2> Was läuft gerade? </h2>
      <a class="twitter-timeline" data-width="900" data-height="700" data-theme="dark" href="https://twitter.com/elonmusk">Tweets by elonmusk</a>
      <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
    </section>

  </main>
</body>

<!-- build:js({.tmp,src}) scripts/vendor.js -->
<!-- bower:js -->
<!-- run `gulp inject` to automatically populate bower script dependencies -->
<!-- endbower -->
<!-- endbuild -->

<!-- build:js({.tmp,src}) scripts/app.js -->
<!-- inject:js -->
<!-- js files will be automatically insert here -->
<!-- endinject -->
<!-- inject:partials -->
<!-- angular templates will be automatically converted in js and inserted here -->
<!-- endinject -->
<!-- endbuild -->

</html>
